################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/ExtMethods/DesignTimeBuild
/.vs/ExtMethods/v15/Server/sqlite3
/xLiAd.ExtMehtods/bin
/xLiAd.ExtMehtods/obj
/.vs
/xLiAd.ExtMehtods/xLiAd.ExtMethods.nuspec
/xLiAd.ExtMehtods/nupkgs
/xLiAd.ExtMehtods/xLiAd.ExtMethods.nuspec.bak
